  <!-- Preloader -->
  <div class="preloader-area position-fixed start-0 top-0 end-0 bottom-0 text-center">
    <div class="preloader">
        <img src="assets/images/preloader.png" alt="preloader">
        <div class="waviy fw-bold">
            <span class="position-relative d-inline-block">A</span>
            <span class="position-relative d-inline-block">V</span>
            <span class="position-relative d-inline-block">E</span>
            <span class="position-relative d-inline-block">L</span>
            <span class="position-relative d-inline-block">O</span>
        </div>
    </div>
</div>
<!-- End Preloader -->

<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="nofa-responsive-nav">
        <div class="container">
            <div class="nofa-responsive-menu">
                <div class="logo">
                    <a href="index.html" class="d-inline-block">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="nofa-nav">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo.png" alt="logo">
                </a>
                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">
                      
                        <li class="nav-item">
                            <a routerLink="" routerLinkActive="active" class="nav-link">
                                Home
                            </a>
                        
                        <li class="nav-item">
                            <a routerLink="about" routerLinkActive="active" class="nav-link">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" routerLinkActive="active" class="dropdown-toggle nav-link">
                                Product
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a routerLink="destination" routerLinkActive="active" class="nav-link">
                                        Destination
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="destinationDetail" routerLinkActive="active" class="nav-link">
                                        Destination Details
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a routerLink="contact" routerLinkActive="active" class="nav-link">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                    <div class="others-option position-relative d-flex align-items-center">
                        <div class="option-item">
                            <a routerLink="login" class="user-btn d-inline-block lh-1 ">
                                <i class="ph-bold ph-user"></i>
                            </a>
                        </div>
                        <div class="option-item">
                            <div class="search-btn d-inline-block lh-1">
                                <i class="ph-bold ph-magnifying-glass"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->