
        <!-- Search Overlay -->
        <div class="search-overlay position-fixed start-0 end-0 top-0 bottom-0 overflow-hidden">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-overlay-close">
                        <i class="ph-bold ph-x"></i>
                    </div>
                    <div class="search-overlay-form">
                        <form>
                            <input type="text" class="input-search bg-transparent p-0 d-block w-100" placeholder="Enter your keywords...">
                            <button type="submit" class="d-inline-block bg-transparent p-0 border-0">
                                <i class="ph-bold ph-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Overlay -->

        <!-- Start Page Title Area -->
        <div class="page-title-area position-relative z-1">
            <div class="container">
                <div class="page-title-content text-center">
                    <h1>About Us</h1>
                    <h6 class="mx-auto">Welcome to Our World, Where Innovation Meets Purpose, and Possibilities Unfold.</h6>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start About Area -->
        <div class="about-area ptb-100 position-relative z-1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="image">
                                        <img src="assets/images/about/about1.jpg" alt="about-image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="image position-relative">
                                        <img src="assets/images/about/about2.jpg" alt="about-image">
                                        <div class="experience">
                                            <img src="assets/images/about/ribbons.png" alt="ribbons">
                                            <span class="d-block fw-bold">
                                                25 Years <br>of Experience
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                            <span class="d-block sub-title fw-bold">
                                What will you get
                            </span>
                            <h2>
                                Our Private Jet Charters Save Your Time and Give You Comfort
                            </h2>
                            <p>
                                Non augue egestas commodo velit eget vestibulum tellus. Curabitur vulpu justo elit at elementum orci pulvinar vel. Pellentesq habitant morbi tristique. Pellentesque habitant morbi tristique.
                            </p>
                            <ul class="features-list ps-0 list-unstyled">
                                <li class="position-relative fw-bold">
                                    <i class="ph ph-check"></i>
                                    There are many variations of passage of lorem.
                                </li>
                                <li class="position-relative fw-bold">
                                    <i class="ph ph-check"></i>
                                    Available but the majority alteration.
                                </li>
                            </ul>
                            <div class="d-sm-flex align-items-center">
                                <a href="private-flights.html" class="default-btn">
                                    Discover More
                                    <i class="ph ph-arrow-right"></i>
                                </a>
                                <div class="call-info d-flex align-items-center">
                                    <div class="icon">
                                        <i class="ph-fill ph-phone-call"></i>
                                    </div>
                                    <div class="info">
                                        <span class="d-block">
                                            CALL ANYTIME
                                        </span>
                                        <a href="tel:+9288006780" class="fw-bold">
                                            +92 ( 8800 ) - 6780
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape1">
                <img src="assets/images/shapes/shape1.png" alt="shape1">
            </div>
        </div>
        <!-- End About Area -->
        
        <!-- Start Request Quote Area -->
        <div class="request-quote-area bg-image ptb-100">
            <div class="container">
                <div class="request-quote-content text-center mx-auto">
                    <h2 class="mx-auto">
                        We Fly You To Over 20.000 Destinations World Wide
                    </h2>
                    <p>
                        Avelo Airline proudly raises the bar and exceeds the standard for luxury and corporate private jet charter services. We pride ourselves on offering a professional and personalised service.
                    </p>
                    <a href="blog-details.html" class="default-btn">
                        Request Quote
                        <i class="ph ph-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Request Quote Area -->
        
        <!-- Start Feedback Area -->
        <div class="feedback-area ptb-100 position-relative z-1">
            <div class="container">
                <div class="feedback-content">
                    <span class="d-block sub-title fw-bold">
                        What Our Customers Say
                    </span>
                    <h2>
                        Join the Private Jet Company Success Story – Be Our Next Satisfied Company.
                    </h2>
                    <div class="number lh-1">
                        34353+
                    </div>
                    <p>
                        Over 24,000 Success Stories: Hear From Our Satisfied Clients
                    </p>
                </div>
                <div class="feedback-slides owl-carousel owl-theme">
                    <div class="single-feedback-box position-relative z-1">
                        <div class="image">
                            <img src="assets/images/customers/customer1.png" alt="customer-image">
                        </div>
                        <h3>
                            Randall Schwartz
                        </h3>
                        <span class="d-block">
                            Sr. Consultant
                        </span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                        </p>
                        <div class="info d-lg-flex align-items-center justify-content-between">
                            <div>
                                <h6>
                                    Trustpilot
                                </h6>
                                <div class="ratings">
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                </div>
                            </div>
                            <span class="d-block">
                                5.0 Trustpilot Rating
                            </span>
                        </div>
                        <div class="quote">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                    <div class="single-feedback-box position-relative z-1">
                        <div class="image">
                            <img src="assets/images/customers/customer2.png" alt="customer-image">
                        </div>
                        <h3>
                            Andru Smith
                        </h3>
                        <span class="d-block">
                            Marketing Manager
                        </span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                        </p>
                        <div class="info d-lg-flex align-items-center justify-content-between">
                            <div>
                                <h6>
                                    Trustpilot
                                </h6>
                                <div class="ratings">
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star-half"></i>
                                </div>
                            </div>
                            <span class="d-block">
                                4.5 Trustpilot Rating
                            </span>
                        </div>
                        <div class="quote">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                    <div class="single-feedback-box position-relative z-1">
                        <div class="image">
                            <img src="assets/images/customers/customer2.png" alt="customer-image">
                        </div>
                        <h3>
                            Andru Smith
                        </h3>
                        <span class="d-block">
                            Marketing Manager
                        </span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                        </p>
                        <div class="info d-lg-flex align-items-center justify-content-between">
                            <div>
                                <h6>
                                    Trustpilot
                                </h6>
                                <div class="ratings">
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star-half"></i>
                                </div>
                            </div>
                            <span class="d-block">
                                4.5 Trustpilot Rating
                            </span>
                        </div>
                        <div class="quote">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                    <div class="single-feedback-box position-relative z-1">
                        <div class="image">
                            <img src="assets/images/customers/customer2.png" alt="customer-image">
                        </div>
                        <h3>
                            Andru Smith
                        </h3>
                        <span class="d-block">
                            Marketing Manager
                        </span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                        </p>
                        <div class="info d-lg-flex align-items-center justify-content-between">
                            <div>
                                <h6>
                                    Trustpilot
                                </h6>
                                <div class="ratings">
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star-half"></i>
                                </div>
                            </div>
                            <span class="d-block">
                                4.5 Trustpilot Rating
                            </span>
                        </div>
                        <div class="quote">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                    <div class="single-feedback-box position-relative z-1">
                        <div class="image">
                            <img src="assets/images/customers/customer2.png" alt="customer-image">
                        </div>
                        <h3>
                            Andru Smith
                        </h3>
                        <span class="d-block">
                            Marketing Manager
                        </span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                        </p>
                        <div class="info d-lg-flex align-items-center justify-content-between">
                            <div>
                                <h6>
                                    Trustpilot
                                </h6>
                                <div class="ratings">
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star"></i>
                                    <i class="ph-fill ph-star-half"></i>
                                </div>
                            </div>
                            <span class="d-block">
                                4.5 Trustpilot Rating
                            </span>
                        </div>
                        <div class="quote">
                            <i class="ph-fill ph-quotes"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape4">
                <img src="assets/images/shapes/shape4.png" alt="shape4">
            </div>
        </div>
        <!-- End Feedback Area -->

        <!-- Start Funfacts Area -->
        <div class="funfacts-area ptb-100">
            <div class="container">
                <div class="funfacts-inner-area">
                    <div class="row gx-0 justify-content-center">
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="funfact-item text-center">
                                <h2 class="lh-1">
                                    +12k
                                </h2>
                                <span class="d-block">
                                    Our Active Member
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="funfact-item text-center">
                                <h2 class="lh-1">
                                    +1.5k
                                </h2>
                                <span class="d-block">
                                    Our Total Project
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="funfact-item text-center">
                                <h2 class="lh-1">
                                    +14
                                </h2>
                                <span class="d-block">
                                    Our Winning Award
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="funfact-item text-center">
                                <h2 class="lh-1">
                                    +50
                                </h2>
                                <span class="d-block">
                                    Our Team Member
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Funfacts Area -->

        <!-- Start Special Offer Area -->
        <div class="special-offer-area position-relative z-1">
            <div class="container-fluid px-0">
                <div class="row align-items-center gx-0">
                    <div class="col-lg-7 col-md-12">
                        <div class="special-offer-content">
                            <span class="d-block sub-title fw-bold">
                                Special Offer
                            </span>
                            <h2>
                                Meet our Care Service for business people who appreciate time
                            </h2>
                            <p>
                                Non augue egestas commodo velit eget vestibulum tellus. Curabitur vulpu justo elit elementum orci pulvinar vel. Pellentesq habitant morbi tristique. Pellentesque habitant morbi tristique curabitur vulpu justo elit at.
                            </p>
                            <a href="destination-details.html" class="default-btn">
                                Discover More
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="special-offer-image">
                            <img src="assets/images/special-offer.png" alt="special-offer-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape5">
                <img src="assets/images/shapes/shape5.png" alt="shape5">
            </div>
        </div>
        <!-- End Special Offer Area -->

        <!-- Start Subscribe Area -->
        <div class="subscribe-area position-relative z-1 pt-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="subscribe-content">
                            <h2 class="mb-0 text-white">
                                Hurry up! New courses will start on February 17, 2024
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <form class="subscribe-form position-relative">
                            <input type="text" class="form-control" placeholder="Your email address">
                            <button type="submit" class="default-btn">
                                Subscribe Now
                                <i class="ph ph-arrow-right"></i>
                            </button>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="acceptSubscribePolicye">
                                <label class="form-check-label" for="acceptSubscribePolicye">
                                    I've read and accept the Privacy Policy.
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="border-bottom"></div>
            </div>
            <div class="shape12">
                <img src="assets/images/shapes/shape12.png" alt="shape">
            </div>
        </div>
        <!-- End Subscribe Area -->